body {
  --bs-body-bg: #F0F0F0;
}

#root {
  background-color: #F0F0F0;
  font-size: 12px;

}

.navbar-brand {
  --bs-navbar-brand-color: black;
  --bs-navbar-brand-font-size: 2rem;
  --bs-navbar-brand-font-weight: 900;
}

.menu {
  border-radius: 12px;
  background-color: white;
  font-family: Arial;
  font-weight: 400; /*nu merge*/
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
}

h1 {
  padding: 10px 70px 10px 12px;
  font-family: Arial;
  font-weight: 500;
  color: black;
}

.btn.btn-primary {
  --bs-btn-color: #0A4CE6;
  --bs-btn-bg: #E1ECFD;
  --bs-btn-border-color: #E1ECFD;
  --bs-btn-hover-color: #E1ECFD;
  --bs-btn-hover-bg:#0A4CE6;
  --bs-btn-border-radius: 0.6rem;
  margin: 10px;

}

h2{
  font-size: 14px;
  padding: 20px 20px 80px 10px;
  color: #9C9C9C;
}

